// -------------------------------
// ボタン
// -------------------------------
.btn {
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
    padding: 6px 20px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
