// -------------------------------
// card コンポーネント
// -------------------------------
.c_product {
    &__card {
        &__container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template:
                "name" 20%
                "main" 1fr
                "price" 15%
                "unit" 8%
                / 100%;

            @include mq() {
                grid-template:
                    "name" 20%
                    "main" 1fr
                    "price" 15%
                    "unit" 15%
                    / 100%;
            }
        }

        &--name {
            grid-area: name;
            background: rgba(50, 50, 50, 0.7);
            color: #f6f5f4;

            @include mq() {
                display:none;
            } 
        }

        &--unit {
            grid-area: unit;
            background: rgba(50, 50, 50);
            color: #f6f5f4;
            align-items: center;
            display: grid;
            grid-template:
                "... iconA ... iconB  ..." 100%
                /20% 20% 20% 20% 20%;

            &--iconA {
                grid-area: iconA;
                z-index: 100;
            }

            &--iconB {
                grid-area: iconB;
                z-index: 100;
            }

            &--iconC {
                grid-area: iconC;
                z-index: 100;
            }
        }

        &--price {
            grid-area: price;
            background: rgba(50, 50, 50, 0.7);
            color: #f6f5f4;
        }
    }
}

.c_index {
    &__card {
        &__container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template:
                "name" 20%
                "main" 1fr
                "price" 15%
                / 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: wrap;

            @include mq() {
                white-space: nowrap;
            }
        }

        &--name {
            grid-area: name;
            background: rgba(50, 50, 50, 0.7);
            color: #f6f5f4;
        }

        &--price {
            grid-area: price;
            background: rgba(50, 50, 50, 0.7);
            color: #f6f5f4;
        }
    }
}

.c_nav {
    &__card {
        &__warapper {
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            @include mq() {
                justify-content: flex-start;
                flex-direction: column;
            }
        }

        &__containerA {
            display: grid;
            grid-template:
                "image" 350px
                /100%;
            width: 250px;
            position: relative;
            overflow: hidden;
            background: #fff;

            @include mq() {
                grid-template:
                    "image" 350px
                    /100%;
                width: 250px;
                margin-bottom: 70px;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                border-left: 125px solid #d16c15;
                border-right: 125px solid #d16c15;
                border-top: 80px solid transparent;
                z-index: 3;
            }

            &::after {
                content: "01";
                position: absolute;
                bottom: -98px;
                left: -60px;
                font-size: 370px;
                font-family: cursive;
                opacity: .1;
                transform: rotate(20deg);
                z-index: 1;
            }
        }

        &__containerB {
            display: grid;
            grid-template:
                "image" 350px
                /100%;
            width: 250px;
            position: relative;
            overflow: hidden;
            background: #fff;


            @include mq() {
                grid-template:
                    "image" 350px
                    /100%;
                width: 250px;
                margin-bottom: 70px;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                border-left: 125px solid #d16c15;
                border-right: 125px solid #d16c15;
                border-top: 80px solid transparent;
                z-index: 3;
            }

            &::after {
                content: "02";
                position: absolute;
                bottom: -98px;
                left: -60px;
                font-size: 370px;
                font-family: cursive;
                opacity: .1;
                transform: rotate(20deg);
                z-index: 1;                
            }
        }

        &__containerC {
            display: grid;
            grid-template:
                "image" 350px
                /100%;
            width: 250px;
            position: relative;
            overflow: hidden;
            background: #fff;


            @include mq() {
                grid-template:
                    "image" 350px
                    /100%;
                width: 250px;
                margin-bottom: 70px;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                border-left: 125px solid #d16c15;
                border-right: 125px solid #d16c15;
                border-top: 80px solid transparent;
                z-index: 3;
            }

            &::after {
                content: "03";
                position: absolute;
                bottom: -98px;
                left: -60px;
                font-size: 370px;
                font-family: cursive;
                opacity: .1;
                transform: rotate(20deg);
                z-index: 1;                
            }
        }

        &__containerD {
            display: grid;
            grid-template:
                "image" 350px
                /100%;
            width: 250px;
            position: relative;
            overflow: hidden;
            background: #fff;


            @include mq() {
                grid-template:
                    "image" 350px
                    /100%;
                width: 250px;
                margin-bottom: 70px;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                border-left: 125px solid #d16c15;
                border-right: 125px solid #d16c15;
                border-top: 80px solid transparent;
                z-index: 3;
            }

            &::after {
                content: "04";
                position: absolute;
                bottom: -94px;
                left: -85px;
                font-size: 370px;
                font-family: cursive;
                opacity: .1;
                transform: rotate(20deg);
                z-index: 1;
                    
            }
        }

        &--image {
            grid-area: image;
            z-index: 2;
        }

        &--text {
            grid-area: text;
            position: absolute;
            font-size: 24px;
            font-weight: bold;
            padding: 12px;
            text-align: center;
            width: 100%;
            z-index: 4;
        }
    }
}
