// -------------------------------
// card コンポーネント
// -------------------------------
.c_product {
    &__card {
        &__container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template:
                "name" 20%
                "main" 1fr
                "price" 15%
                / 100%;
        }

        &--name {
            grid-area: name;
            background: rgba(50, 50, 50, 0.8);
            color: #f6f5f4;
        }

        &--price {
            grid-area: price;
            background: rgba(50, 50, 50, 0.8);
            color: #f6f5f4;
        }
    }
}
