// -------------------------------
// hero
// -------------------------------
.c_hero {
    &__top__container {
        background-color: rgba(255, 255, 255, 0.75);
        position: relative;

        &::before {
            content: "";
            background-image: url("/storage/img/コンビニおしゃれ２.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    &__main {
        &__container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 90vh;
            object-fit: cover;
            grid-area: main;
        }

        &__logo {
            position: absolute;
            width: 30%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include mq() {
                width: 50%;
            }
        }
    }
}
