// -----------------------------
// input 関連
// -----------------------------
.c_input {
    &--default {
        border: 1px solid #7b7b7b;
        border-radius: 5px;
        padding: 0 10px;
        width: 100%;
        height: 100%;
        text-align: left;
        background: #fff;

    }

    &--password {
        border: 1px solid $footer-color__primary;
        border-radius: 5px;
        padding: 0 10px;
        width: 100%;
        height: 65px;
        text-align: left;
        background: #fff;

    }

    &--textArea {
        border: 1px solid #7b7b7b;
        border-radius: 5px;
        padding: 0 10px;
        width: 100%;
        height: 80px;
        text-align: left;
        background: #fff;


        &--large {
            border: 1px solid $footer-color__primary;
            border-radius: 5px;
            padding: 0 10px;
            width: 100%;
            height: 200px;
            text-align: left;
            background: #fff;

        }
    }

    &--error-msg {
        font-size: 10px;
        color: red;
    }



}

// -----------------------------
// serch 関連
// -----------------------------
.c_serch {
    &__container {
        background: #fffde5;
        color: #333;
        display: grid;
        grid-template:
            ".....  .....  close" 20px
            ".....  head   ....." 40px
            ".....  .....  ....." 15px
            ".....  prefecture ....." 50px
            ".....  .....  ....." 15px
            ".....  sort   ....." 50px
            ".....  .....  ....." 15px
            ".....  order  ....." 50px
            ".....  .....  ....." 15px
            ".....  radio  ....." 50px
            ".....  .....  ....." 15px
            ".....  submit ....." 40px
            ".....  .....  ....." 15px
            / 15px 200px 25px;
        z-index: 3;
        text-align: center;
        border: 2px solid #333;
        border-radius: 5px;
        box-shadow: 4px 6px 10px #333;
        position: absolute;
        top: 180px;
        right: 0;
        z-index: 999;

        &:hover {
            cursor: pointer;
        }


        @include mq() {
            right: 35px;
        }

        &::before {
            content: "";
            border-bottom: 15px solid #fff;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            position: absolute;
            top: -13px;
            right: 50px;
            z-index: 2;
        }

        &::after {
            content: "";
            border-bottom: 15px solid #333;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            position: absolute;
            top: -15px;
            right: 50px;
        }
    }

    &--head {
        grid-area: head;
        border-bottom: 2px solid #333;
    }

    &--close {
        grid-area: close;
        z-index: 100;
    }

    &--prefecture {
        grid-area: prefecture;
        border: 1px solid #333;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--sort {
        grid-area: sort;
        border: 1px solid #333;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--order {
        grid-area: order;
        border: 1px solid #333;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--radio {
        grid-area: radio;
        display: grid;
        grid-template:
            "radioA"
            "radioB";
    }

    &--radioA {
        grid-area: radioA;

        &--input {
            margin-right: 10px;
        }
    }

    &--radioB {
        grid-area: radioB;

        &--input {
            margin-right: 10px;
        }
    }

    &--submit {
        grid-area: submit;
        color: #f6f6f6;
    }

    &--select {
        width: 100%;
        height: 100%;
        padding-left: 50px;

        &:hover {
            cursor:pointer;
        }
    }
}

// -----------------------------
// js で使用している
// -----------------------------
.c_input {
    &--drop-over {
        border: 3px dashed #ccc;
    }
    &--prev-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__droparea {
        position: relative;

        &--floating {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

}
