// ====================================
//  header
// ====================================
.l_footer {
    grid-area: footer;
    width: 100%;
    height: 350px;
    background-color: $footer-color__primary;

    &__container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 70% 1fr;
    }

    &__layout {
        &--top {
            grid-column: 2 / 2;
            grid-row: 1 / 1;
        }

        &--bottom {
            grid-column: 2 / 2;
            grid-row: 2 / 2;
        }
    }
}
