// ====================================
//  header
// ====================================
.l-header {
    background-color: #eec71f;
    display: grid;
    grid-area: header;
    grid-template-columns: 35% 5fr 5fr;
    height: 70px;
    width: 100%;
    color: $sub-color__primary;

    &__title {
        grid-column: 1;
    }

    &__nav {
        grid-column: 3;
    }
}
