// ====================================
//  header
// ====================================
.l-header {
    background-color: $footer-color__primary;
    display: grid;
    grid-area: header;
    grid-template:
        "left right" 100%
        /33% 67%;
    height: 70px;
    width: 100%;
    color: $font-color__main;

    @include mq() {
        grid-template:
            "left right" 100%
            /40% 60%;
    }

    &__left {
        grid-area: left;
    }

    &__right {
        height: 100%;
        grid-area: right;
        display: grid;
        grid-template:
            "..... ..... menu1 menu2 menu3" 100%
            /1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;

        @include mq() {
            grid-template:
                ".... .... menu4"
                100%/1fr 1fr 1fr;
        }


        &__text {
            color: #f6f5f4;
            font-size: $font-size__default;
            height: 100%;
            display: flex;
            align-items: center;

            @include mq() {
                font-size: $font-size__sm;
                text-align: center;
            }

        }

        &__1 {
            grid-area: menu1;
            height: 100%;
        }

        &__2 {
            grid-area: menu2;
            height: 100%;
        }

        &__3 {
            grid-area: menu3;
            height: 100%;
        }

        &__4 {
            grid-area: menu4;
            height: 100%;
        }

    }

    //pop menu
    &__popmenu {
    position: absolute;
    top: -100px;
    width: 100%;
    height: 70px;
    background: #4c4a4a;
    transition: .2s;
    z-index: 10;
    position: fixed;
    }

}
