// -------------------------------
// Site 全体のレイアウト
// -------------------------------
.l_site__area {
    width: 100%;
}
.l-site__warapper {
    display: grid;
    min-height: 100vh;
    margin: 0 auto;
    width: 100%;
    grid-template:
        "header" 70px
        "main" 1fr
        "footer" 20%
        /100%;
}
.l_main__container {
    grid-area: main;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $base-color__primary;
        z-index: -2;
    }
}
// -------------------------
// Top
// -------------------------
.l_top {
    &__container {
        display: grid;
        grid-template:
            "hero" 700px
            "info" 600px
            "about" 720px
            "process" 800px
            /100%;
    }

    &--hero {
        grid-area: hero;
        position: relative;
        display: grid;
        grid-template:
            "left main right" 100%
            / 70px 1fr 70px;
    }

    &--info {
        grid-area: info;
        display: grid;
        grid-template:
            ".....  .....  ....." 1fr
            "panel  panel  panel" 200px
            ".....  .....  link" 1fr
            /33% 34% 33%;

        &--panel {
            grid-area: panel;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        &--link {
            grid-area: link;
        }
    }

    &--about {
        grid-area: about;
        position: relative;
        display: grid;
        grid-template:
            "text       primary" 460px
            "secondary  ......." 260px
            / 40% 60%;

        &--text {
            grid-area: text;
            position: relative;
            display: flex;
            flex-direction: column;
            top: 30px;
            width: 300px;
            margin: 0 auto;
        }

        &--primary {
            grid-area: primary;
            position: relative;
            display: grid;
            grid-template:
                ".....  imageA  imageB  ......" 100%
                "line   line    line    line  " 100%
                ".....  ......  ......  ......" 100%
                / 80px 1fr 1fr 70px;

            &--imageA {
                grid-area: imageA;
                width: 90%;
                height: 460px;
                object-fit: cover;
                margin-left: auto;
                z-index: 2;
            }

            &--imageB {
                grid-area: imageB;
                width: 90%;
                height: 460px;
                object-fit: cover;
                margin-left: auto;
                z-index: 2;
            }

            &::after {
                content: "";
                background: #fff;
                position: absolute;
                top: 100px;
                right: 0;
                height: 260px;
                width: 830px;
            }
        }

        &--secondary {
            grid-area: secondary;
            position: relative;
            background: #fffde5;

            &--image {
                position: absolute;
                bottom: 0;
                left: -70px;
                border-radius: 50%;
                width: 400px;
                height: 400px;
            }
        }
    }

    &--process {
        grid-area: process;
        display: grid;
        grid-template:
            "head" 1fr
            "main" 400px
            "foot" 1fr
            /100%;

        &--head {
            grid-area: head;
            display: grid;
            grid-template:
                "....." 1fr
                "title" 150px
                "....." 1fr
                /100%;
        }

        &--title {
            grid-area: title;
            letter-spacing: 5px;
        }

        &--main {
            grid-area: main;
        }

        &--foot {
            grid-area: foot;
        }
    }
}

// -------------------------
// register
// -------------------------
.l_register {
    &__container {
        display: grid;
        height: 100%;
        width: 60%;
        margin: 10vh auto;
        border: 3px solid #333;
        border-radius: 10px;
        grid-template:
            " head  " 160px
            " main  " 1fr
            " foot  " 80px
            / 100%;
    }

    &__user__container {
        display: grid;
        margin: 5vh 15%;
        grid-template:
            "name   " 50px
            ".....  " 30px
            "email  " 50px
            ".....  " 30px
            "pass   " 50px
            ".....  " 30px
            "re_pass" 50px
            /100%;
    }

    &__store__container {
        display: grid;
        margin: 5vh 15%;
        grid-template:
            "name        " 100px
            ".....       " 30px
            "b_name      " 100px
            ".....       " 30px
            "zip         " 50px
            ".....       " 30px
            "prefectural " 50px
            ".....       " 30px
            "address     " 100px
            ".....       " 30px
            "email       " 50px
            ".....       " 30px
            "tel         " 50px
            ".....       " 30px
            "manager_name" 50px
            ".....       " 30px
            "pass        " 50px
            ".....       " 30px
            "re_pass     " 50px
            /100%;
    }

    &--title {
        grid-area: head;
    }

    &--main {
        grid-area: main;
    }

    &--foot {
        grid-area: foot;
    }

    &--name {
        grid-area: name;
    }

    &--b_name {
        grid-area: b_name;
    }

    &--zip {
        grid-area: zip;
    }

    &--prefectural {
        grid-area: prefectural;
    }

    &--address {
        grid-area: address;
    }

    &--email {
        grid-area: email;
    }

    &--tel {
        grid-area: tel;
    }

    &--manager_name {
        grid-area: manager_name;
    }

    &--pass {
        grid-area: pass;
    }

    &--re_pass {
        grid-area: re_pass;
    }

    &__select {
        &__container {
            display: grid;
            grid-template:
                "head" 150px
                "main" 300px
                "foot" 150px/100%;
            margin: 0 auto;
            width: 60%;
            border: 3px solid #333;
            border-radius: 10px;
            background: #f6f5f4;
        }

        &--head {
            grid-area: head;
            display: grid;
            grid-template:
                "....." 15%
                "title   " 30%
                "subtitle" 30%
                "....." 15%
                / 100%;
        }

        &--title {
            grid-area: title;
        }

        &--subtitle {
            grid-area: subtitle;
        }

        &--main {
            grid-area: main;
            display: grid;
            grid-template:
                "left right" 100%
                / 50% 50%;
        }

        &--left {
            grid-area: left;
            height: 200px;

            &--box {
                width: 200px;
                height: 200px;
                background: #da9dff;
                margin: 0 50px 0 auto;
                border: 2px solid #707070;
                border-radius: 10px;
            }
        }

        &--right {
            grid-area: right;
            height: 200px;

            &--box {
                width: 200px;
                height: 200px;
                background: #ff9db4;
                margin: 0 auto 0 50px;
                border: 2px solid #707070;
                border-radius: 10px;
            }
        }

        &--foot {
            grid-area: foot;
            display: grid;
            grid-template:
                "... btn ..." 1fr
                "... ... ..." 1fr
                "... ... ..." 1fr;

            &--btn {
                grid-area: btn;
                margin: 0 auto;
            }
        }
    }
}
// -------------------------
// login
// -------------------------
.l_login {
    &__container {
        display: grid;
        height: 100%;
        width: 60%;
        margin: 10vh auto;
        border: 3px solid #333;
        border-radius: 10px;
        grid-template:
            " head  " 160px
            " main  " 1fr
            " foot  " 80px
            / 100%;
    }
    &__form__container {
        display: grid;
        margin: 5vh 15%;
        grid-template:
            "email  " 50px
            ".....  " 30px
            "pass   " 50px
            ".....  " 30px
            "keep   " 50px
            ".....  " 30px
            "forgot " 50px
            / 100%;
    }

    &--title {
        grid-area: head;
    }

    &--main {
        grid-area: main;
    }

    &--foot {
        grid-area: foot;
    }

    &--email {
        grid-area: email;
    }

    &--pass {
        grid-area: pass;
    }

    &--keep {
        grid-area: keep;
    }

    &--forgot {
        grid-area: forgot;
    }
}
// -------------------------
// input form
// -------------------------
.l_input {
    &__container {
        display: grid;
        height: 100%;
        margin: 0 15%;
        grid-template:
            "...... ...... ......  ......   ......"
            "...... ......   top   ......   ......" 100px
            "...... name   ......  category ......" 100px
            "...... r_price ...... price    ......" 100px
            "...... sellby ......  store_id ......" 100px
            "...... pic    ......  ......   ......" 300px
            "..... submitA submitB submitC ......" 100px
            "...... ...... submitD ....... ......" 100px
            / 10% 30% 20% 30% 10%;
        border: 3px solid #333;
        border-radius: 10px;
    }
    &--check {
        display: grid;
        grid-template:
            "box text" 50px
            / 15% 85%;
    }

    &__product {
        &--title {
            grid-area: top;
        }

        &--name {
            grid-area: name;
        }

        &--category {
            grid-area: category;
        }

        &--price {
            grid-area: price;
        }

        &--r_price {
            grid-area: r_price;
        }

        &--store_id {
            grid-area: store_id;
        }

        &--sellby {
            grid-area: sellby;
        }

        &--pic {
            grid-area: pic;
            position: relative;
            width: 300px;
            height: 250px;
        }

        &--submit {
            grid-area: submitA;
        }

        &--submitB {
            grid-area: submitB;
        }

        &--submitC {
            grid-area: submitC;
        }

        &--submitD {
            grid-area: submitD;
        }
    }
}

// -------------------------
// home
// -------------------------
.l_home {
    &__container {
        display: grid;
        height: 100%;
        margin: 10vh 15%;
        grid-template:
            " menu  " 160px
            " ......" 50px
            " main  " 800px
            / 100%;
    }

    &__menu {
        grid-area: menu;
        border: 3px solid #333;
        border-radius: 10px;
        display: grid;
        padding: 20px;
        grid-template:
            "..... title  ..... " 30%
            "..... .....  ..... " 20%
            "left  center right " 1fr
            /33% 1fr 33%;

        &--title {
            grid-area: title;
        }

        &--link {
            &-left {
                grid-area: left;
            }

            &-center {
                grid-area: center;
            }

            &-right {
                grid-area: right;
            }
        }
    }

    &__main {
        grid-area: main;
        border: 3px solid #333;
        border-radius: 10px;
        padding: 20px;
        display: grid;
        grid-template:
            "..... ..... ....." 2fr
            "..... setA  ....." 200px
            "..... ..... ....." 1fr
            "..... setB  ....." 200px
            "..... ..... ....." 2fr
            / auto 100% auto;

        &--setA {
            grid-area: setA;
        }

        &--setB {
            grid-area: setB;
        }

        &__stick--unit {
            grid-area: main;
            border: 3px solid #333;
            border-radius: 10px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
        }
    }
}
// -------------------------
// profile
// -------------------------
.l_profile {
    &__container {
        display: grid;
        height: 100%;
        width: 60%;
        margin: 10vh auto;
        border: 3px solid #333;
        border-radius: 10px;
        grid-template:
            " head  " 160px
            " main  " 1fr
            " foot  " 80px
            " return " 80px
            / 100%;
    }

    &__store_form__container {
        display: grid;
        margin: 5vh 15%;
        grid-template:
            "name   " 100px
            ".....  " 30px
            "b_name " 100px
            ".....  " 30px
            "email  " 50px
            ".....  " 30px
            "address" 100px
            ".....  " 30px
            "pass   " 50px
            /100%;
    }

    &__user_form__container {
        display: grid;
        margin: 5vh 15%;
        grid-template:
            "name   " 50px
            ".....  " 30px
            "email  " 50px
            ".....  " 30px
            "address" 100px
            ".....  " 30px
            "pass   " 50px
            /100%;
    }

    &__form--unit {
        display: grid;
        grid-template:
            "text form" 100%
            / 40% 60%;
    }

    &--title {
        grid-area: head;
    }

    &--main {
        grid-area: main;
    }

    &--foot {
        grid-area: foot;
    }

    &--return {
        grid-area: return;
    }

    &--name {
        grid-area: name;
    }

    &--b_name {
        grid-area: b_name;
    }

    &--email {
        grid-area: email;
    }

    &--address {
        grid-area: address;
    }

    &--pass {
        grid-area: pass;
    }

    &--text {
        grid-area: text;
    }

    &--form {
        grid-area: form;
    }
}
// -------------------------
// Detail
// -------------------------
.l_detail {
    &__container {
        display: grid;
        border-radius: 10px;
        margin: 100px 60px;
        grid-template:
            " main  " 2.5fr
            " info  " 1fr
            / 100%;
    }

    &--main {
        grid-area: main;
        display: grid;
        grid-template:
            "hero info" 100%
            / 60% 40%;
        position: relative;

        &--attention {
            position: absolute;
            top: 45%;
            left: 6%;
            width: 48%;
            height: 70px;
            line-height: 70px;
            background: #ffffff;
            color: #f44336;
            text-align: center;
        }

        &--hero {
            grid-area: hero;
            border-radius: 10px;
        }

        &--info {
            grid-area: info;
            display: grid;
            grid-template:
                "head" 1fr
                "info" 2fr
                "foot" 1fr
                /100%;

            &--head {
                grid-area: head;
                display: grid;
                grid-template:
                    "left center right" 100%
                    / 33% 34% 33%;
            }

            &--left {
                grid-area: left;
            }

            &--center {
                grid-area: center;
            }

            &--right {
                grid-area: right;
            }

            &--info {
                grid-area: info;
            }

            &--foot {
                grid-area: foot;
                display: grid;
                grid-template:
                    "btn component" 1fr
                    ".... ...." 1fr
                    ".... ...." 1fr
                    / 50% 50%;
            }

            &--btn {
                grid-area: btn;
            }

            &--component {
                grid-area: component;
            }
        }

        &--info__container {
            display: grid;
            grid-template:
                "title    title  " 20%
                ".......  ......." 30px
                "category expiration" 20%
                ".......  ......." 15px
                "price-l  price-r" 40%
                ".......  ......." 20px
                / 40% 60%;

            &--title {
                grid-area: title;
            }

            &--category {
                grid-area: category;
            }

            &--expiration {
                grid-area: expiration;
            }

            &--price-l {
                grid-area: price-l;
            }

            &--price-r {
                grid-area: price-r;
            }
        }
    }

    &--info {
        grid-area: info;
        display: grid;
        grid-template:
            "head   .....  .....  ....." 50px
            ".....  .....  .....  ....." 15px
            "textA  dataA  textE  dataE" 50px
            "textB  dataB  textF  dataF" 50px
            "textC  dataC  textG  dataG" 50px
            "textD  dataD  textH  dataH" 50px
            /10% 40% 10% 40%;

        &--head {
            grid-area: head;
        }

        &--textA {
            grid-area: textA;
        }

        &--dataA {
            grid-area: dataA;
        }

        &--textB {
            grid-area: textB;
        }

        &--dataB {
            grid-area: dataB;
        }

        &--textC {
            grid-area: textC;
        }

        &--dataC {
            grid-area: dataC;
        }

        &--textD {
            grid-area: textD;
        }

        &--dataD {
            grid-area: dataD;
        }

        &--textE {
            grid-area: textE;
        }

        &--dataE {
            grid-area: dataE;
        }

        &--textF {
            grid-area: textF;
        }

        &--dataF {
            grid-area: dataF;
        }

        &--textG {
            grid-area: textG;
        }

        &--dataG {
            grid-area: dataG;
        }

        &--textH {
            grid-area: textH;
        }

        &--dataH {
            grid-area: dataH;
        }
    }

    &--hero {
        grid-area: hero;
    }
}
// -------------------------
// product 関連
// -------------------------
.l_product {
    &__stick-unit {
        display: grid;
        border: 2px solid #999;
        border-radius: 50px;
        grid-template:
            "pic   name  icon " 70px
            /70px 1fr 70px;
        width: 100%;
    }

    &--pic {
        grid-area: pic;
        width: 100%;
        background: #f6f5f4;
    }

    &--name {
        grid-area: name;
    }

    &--icon {
        grid-area: icon;
    }

    &__card {
        &-unit {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: row;

            &__index {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;

                & div:nth-child(4n) {
                    margin-right: -100px;
                }
            }
        }

        &__container {
            width: 241px;
            height: 350px;
            border: 3px solid #333;
            border-radius: 5px;
            position: relative;
        }

        &__label {
            position: absolute;
            top: -20px;
            right: -20px;
            border: 3px solid #333;
            border-radius: 50%;
            background: #ec6617;
            z-index: 5;
            width: 70px;
            height: 70px;
            line-height: 65px;
            text-align: center;
            font-size: 16px;
            transform: rotateZ(45deg);
            color: #f6f5f4;
        }
    }

    &__miniCard {
        &__container {
            display: grid;
            grid-template:
                "....." 35%
                "title" 30%
                "....." 35%
                / 100%;
            position: relative;
            border: 4px solid #f6f5f4;
            width: 200px;
            height: 200px;
        }

        &--image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            height: 100px;
        }

        &--title {
            grid-area: title;
            z-index: 2;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            font-size: 20px;
            font-weight: bold;
        }
    }
}
// -------------------------
// paginate
// -------------------------
.l_pagination__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
// -------------------------
// index
// -------------------------
.l_index {
    &__container {
        display: grid;
        margin: 0 80px;
        grid-template:
            "head" 200px
            "main" 1fr
            "paginate" 200px
            / 100%;
    }

    &__head {
        grid-area: head;
        display: grid;
        grid-template:
            "..... ..... ....." 1fr
            "..... title ....." 1fr
            "..... ..... sort " 1fr
            "..... ..... ....." 30px
            / 33% 34% 33%;
        position: relative;

        &--title {
            grid-area: title;
        }

        &--sort {
            grid-area: sort;
        }
    }

    &__main {
        grid-area: main;
    }

    &__paginate {
        grid-area: paginate;
    }
}
