// -------------------------------
// Site 全体のレイアウト
// -------------------------------
.l_site__area {
    width: 100%;
}
.l-site__warapper {
    display: grid;
    min-height: 100vh;
    margin: 0 auto;
    width: 100%;
    grid-template:
        "header" 70px
        "main" 1fr
        "footer" 20%
        /100%;
}
.l_main__container {
    grid-area: main;
    position: relative;
    width: 100%;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $base-color__primary;
        z-index: -2;
    }
}
// -------------------------
// Top
// -------------------------
.l_top {
    &__container {
        display: grid;
        margin: 10vh auto;
        grid-template:
            "hero" 650px
            "info" 600px
            "about" 720px
            "process" 800px
            /100%;

        @include mq() {
            grid-template:
                "hero" 350px
                "info" 400px
                "about"
                "process"
                /100%;
        }
    }

    &--hero {
        grid-area: hero;
        position: relative;
        display: grid;
        grid-template:
            "left main right" 100%
            / 70px 1fr 70px;

        @include mq() {
            grid-template:
                "main" 100%
                / 100%;
        }
    }

    &--info {
        grid-area: info;
        display: grid;
        grid-template:
            ".....  .....  ....." 1fr
            "panel  panel  panel" 200px
            ".....  .....  link" 1fr
            /33% 34% 33%;

        @include mq() {
            grid-template:
                ".....  .....  ....." 70px
                "panel  panel  panel" 200px
                "link   link   link " 70px
                /33% 34% 33%;
        }

        &--panel {
            grid-area: panel;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 70px;

            & div:nth-child(5n) {
                margin-right: -75px;

                @include mq() {
                    display: none;
                    margin-right: 0;
                }
            }
        }

        &--link {
            grid-area: link;
            font-size: 16px;
        }
    }

    &--about {
        grid-area: about;
        position: relative;
        display: grid;
        grid-template:
            "text       primary" 460px
            "secondary  ......." 260px
            / 40% 60%;

        @include mq() {
            grid-template:
                "text" 350px
                "primary"
                / 100%;
            margin-bottom: 150px;
        }

        &--text {
            grid-area: text;
            position: relative;
            display: flex;
            flex-direction: column;
            top: 30px;
            width: 300px;
            margin: 0 auto;
        }

        &--primary {
            grid-area: primary;
            position: relative;
            display: grid;
            grid-template:
                ".....  imageA  imageB  ......" 100%
                "line   line    line    line  " 100%
                ".....  ......  ......  ......" 100%
                / 80px 1fr 1fr 70px;

            @include mq() {
                grid-template:
                    "imageA" 100%
                    / 100%;
            }

            &--imageA {
                grid-area: imageA;
                width: 90%;
                height: 460px;
                object-fit: cover;
                margin-left: auto;
                z-index: 2;

                @include mq() {
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    margin: 0 auto;
                }
            }

            &--imageB {
                grid-area: imageB;
                width: 90%;
                height: 460px;
                object-fit: cover;
                margin-left: auto;
                z-index: 2;

                @include mq() {
                    display: none;
                }
            }

            &::after {
                content: "";
                background: #fff;
                position: absolute;
                top: 100px;
                right: 0;
                height: 260px;
                width: 830px;

                @include mq() {
                    display: none;
                }
            }
        }

        &--secondary {
            grid-area: secondary;
            position: relative;
            background: #fffde5;

            &--image {
                position: absolute;
                bottom: 0;
                left: -70px;
                border-radius: 50%;
                width: 400px;
                height: 400px;
            }

            @include mq() {
                display: none;
            }
        }
    }

    &--process {
        grid-area: process;
        display: grid;
        grid-template:
            "head" 1fr
            "main" 400px
            "foot" 1fr
            /100%;

        @include mq() {
            grid-template:
                "head" 1fr
                "main"
                "foot" 1fr
                /100%;
        }

        &--head {
            grid-area: head;
            display: grid;
            grid-template:
                "....." 1fr
                "title" 150px
                "....." 1fr
                /100%;
        }

        &--title {
            grid-area: title;
            letter-spacing: 5px;

            &--subtitleA {
                @include mq() {
                    display: none;
                }
            }

            &--subtitleB {
                display: none;
                @include mq() {
                    display: block;
                }
            }
        }

        &--main {
            grid-area: main;
        }

        &--foot {
            grid-area: foot;
        }

        &--btn {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: row;
            margin-right: 100px;

            @include mq() {
                justify-content: center;
                margin-right: 0;
            }
        }
    }
}

// -------------------------
// register
// -------------------------
.l_register {
    &__container {
        display: grid;
        height: 100%;
        width: 60%;
        margin: 10vh auto;
        border: 3px solid #333;
        border-radius: 10px;
        background: $sub-color__secondary;
        grid-template:
            " head  " 160px
            " main  " 1fr
            " foot  " 80px
            " submit " 80px
            " ..... " 40px
            / 100%;

        @include mq() {
            width: 100%;
            margin: 10vh 0;
            border: 1px solid #333;
            border-radius: 0;
        }
    }

    &__user__container {
        display: grid;
        margin: 5vh 15%;
        grid-template:
            "name   " 50px
            ".....  " 30px
            "email  " 50px
            ".....  " 30px
            "pass   " 50px
            ".....  " 30px
            "re_pass" 50px
            /100%;
    }

    &__store__container {
        display: grid;
        margin: 5vh 15%;
        grid-template:
            "name        " 100px
            ".....       " 30px
            "b_name      " 100px
            ".....       " 30px
            "zip         " 50px
            ".....       " 30px
            "prefectural " 50px
            ".....       " 30px
            "address     " 100px
            ".....       " 30px
            "email       " 50px
            ".....       " 30px
            "tel         " 50px
            ".....       " 30px
            "manager_name" 50px
            ".....       " 30px
            "pass        " 50px
            ".....       " 30px
            "re_pass     " 50px
            /100%;
    }

    &--title {
        grid-area: head;
    }

    &--main {
        grid-area: main;
    }

    &--foot {
        grid-area: foot;
    }

    &--name {
        grid-area: name;
    }

    &--b_name {
        grid-area: b_name;
    }

    &--zip {
        grid-area: zip;
    }

    &--prefectural {
        grid-area: prefectural;
    }

    &--address {
        grid-area: address;
    }

    &--email {
        grid-area: email;
    }

    &--tel {
        grid-area: tel;
    }

    &--manager_name {
        grid-area: manager_name;
    }

    &--pass {
        grid-area: pass;
    }

    &--re_pass {
        grid-area: re_pass;
    }

    &__select {
        &__container {
            display: grid;
            grid-template:
                "head" 150px
                "main" 300px
                "foot" 150px/100%;
            margin: 10vh auto;
            width: 60%;
            border: 3px solid #333;
            border-radius: 10px;
            background: #f6f5f4;

            @include mq() {
                margin: 10vh 0;
                width: 100%;
                border: 1px solid #333;
                border-radius: 0;
            }
        }

        &--head {
            grid-area: head;
            display: grid;
            grid-template:
                "....." 15%
                "title   " 30%
                "subtitle" 30%
                "....." 15%
                / 100%;

            @include mq() {
                padding: 10px;
            }
        }

        &--title {
            grid-area: title;
        }

        &--subtitle {
            grid-area: subtitle;
        }

        &--main {
            grid-area: main;
            display: grid;
            grid-template:
                "left right" 100%
                / 50% 50%;

            @include mq() {
                grid-template:
                    "left " 50%
                    "right" 50%
                    / 100%;
            }
        }

        &--left {
            grid-area: left;
            height: 200px;

            &--box {
                width: 200px;
                height: 200px;
                background: #da9dff;
                margin: 0 50px 0 auto;
                border: 2px solid #707070;
                border-radius: 10px;

                @include mq() {
                    height: 70px;
                    margin: 0 auto;
                }
            }
        }

        &--right {
            grid-area: right;
            height: 200px;

            &--box {
                width: 200px;
                height: 200px;
                background: #ff9db4;
                margin: 0 auto 0 50px;
                border: 2px solid #707070;
                border-radius: 10px;

                @include mq() {
                    height: 70px;
                    margin: 0 auto;
                }
            }
        }

        &--foot {
            grid-area: foot;
            display: grid;
            grid-template:
                "... btn ..." 1fr
                "... ... ..." 1fr
                "... ... ..." 1fr;

            &--btn {
                grid-area: btn;
                margin: 0 auto;
            }
        }
    }
}
// -------------------------
// login
// -------------------------
.l_login {
    &__container {
        display: grid;
        height: 100%;
        width: 60%;
        margin: 10vh auto;
        border: 3px solid #333;
        border-radius: 10px;
        background: $sub-color__secondary;
        grid-template:
            " head  " 160px
            " main  " 1fr
            " foot  " 80px
            " submit " 80px
            " .....  " 40px
            / 100%;

        @include mq() {
            margin: 10vh 0;
            width: 100%;
            border: 1px solid #333;
            border-radius: 0;
        }
    }
    &__form__container {
        display: grid;
        margin: 5vh 15%;
        grid-template:
            "email  " 50px
            ".....  " 30px
            "pass   " 50px
            ".....  " 30px
            "keep   " 50px
            ".....  " 30px
            "forgot " 50px
            / 100%;
    }

    &--title {
        grid-area: head;
    }

    &--main {
        grid-area: main;
    }

    &--foot {
        grid-area: foot;
    }

    &--submit {
        grid-area: submit;
    }

    &--email {
        grid-area: email;
    }

    &--pass {
        grid-area: pass;
    }

    &--keep {
        grid-area: keep;
    }

    &--forgot {
        grid-area: forgot;
    }
}
// -------------------------
// input form
// -------------------------
.l_input {
    &__container {
        display: grid;
        height: 100%;
        width: 60%;
        border: 3px solid #333;
        border-radius: 10px;
        background: $sub-color__secondary;
        margin: 10vh auto;
        grid-template:
            "...... ...... ......  ......   ......"
            "...... ......   top   ......   ......" 100px
            "...... name   ......  category ......" 130px
            "...... r_price ...... price    ......" 130px
            "...... sellby ......  store_id ......" 130px
            "...... pic    ......  ......   ......" 300px
            "..... submitA submitB submitC ......" 100px
            "...... ...... submitD ....... ......" 100px
            / 10% 30% 20% 30% 10%;

        @include mq() {
            width: 100%;
            margin: 10vh 0;
            border: 1px solid #333;
            border-radius: 0;
            grid-template:
                "......  ......   ......"
                "......   top     ......" 100px
                "......   name    ......" 130px
                "......  category ......" 130px
                "......  r_price  ......" 130px
                "......   price   ......" 130px
                "......   sellby  ......" 130px
                "......  store_id ......" 130px
                "......    pic    ......" 300px
                "......  .....    ......" 100px
                "......  submitA  ......" 100px
                "......  submitB  ......" 100px
                "......  submitC  ......" 100px
                " ...... submitD ......." 100px
                / 5% 90% 5%;
        }
    }
    &--check {
        display: grid;
        grid-template:
            "box text" 50px
            / 15% 85%;
        align-items: center;
    }

    &__product {
        &--title {
            grid-area: top;
        }

        &--name {
            grid-area: name;
        }

        &--category {
            grid-area: category;
        }

        &--price {
            grid-area: price;
        }

        &--r_price {
            grid-area: r_price;
        }

        &--store_id {
            grid-area: store_id;
        }

        &--sellby {
            grid-area: sellby;
        }

        &--pic {
            grid-area: pic;
            position: relative;
            width: 300px;
            height: 250px;

            @include mq() {
                width: 100%;
                height: 100%;
            }
        }

        &--submit {
            grid-area: submitA;
        }

        &--submitB {
            grid-area: submitB;
        }

        &--submitC {
            grid-area: submitC;
        }

        &--submitD {
            grid-area: submitD;
        }
    }
}

// -------------------------
// home
// -------------------------
.l_home {
    &__container {
        display: grid;
        height: 100%;
        margin: 10vh 15%;
        grid-template:
            " menu  " 160px
            " ......" 50px
            " main  "
            / 100%;

        @include mq() {
            margin: 10vh 0;
            grid-template:
                " menu  " 200px
                " ......" 50px
                " main  "
                / 100%;
        }
    }

    &__menu {
        grid-area: menu;
        border: 3px solid #333;
        border-radius: 10px;
        background-color: $sub-color__secondary;
        display: grid;
        padding: 20px;
        grid-template:
            "..... title  ..... " 30%
            "..... .....  ..... " 20%
            "left  center right " 1fr
            /33% 1fr 33%;

        @include mq() {
            border: 1px solid #333;
            border-radius: unset;
            padding: 5px;
            grid-template:
                "..... title  ..... " 30%
                "iconA iconB  iconC  " 70px
                "left  center right " 1fr
                /33% 34% 33%;
        }

        &--title {
            grid-area: title;
        }

        &--menu {
            grid-area: menu;
        }

        &--icon {
            &-left {
                display: none;
                grid-area: iconA;
                margin: 0 auto;
                align-self: center;
                @include mq() {
                    display: block;
                }
            }

            &-center {
                display: none;
                grid-area: iconB;
                margin: 0 auto;
                align-self: center;
                @include mq(md) {
                    display: block;
                }
            }

            &-right {
                display: none;
                grid-area: iconC;
                margin: 0 auto;
                align-self: center;
                @include mq(md) {
                    display: block;
                }
            }
        }

        &--link {
            &-left {
                grid-area: left;
                text-align: center;

                @include mq() {
                    font-size: $font-size__sm;
                }
            }

            &-center {
                grid-area: center;
                text-align: center;

                @include mq() {
                    font-size: $font-size__sm;
                }
            }

            &-right {
                grid-area: right;
                text-align: center;

                @include mq() {
                    font-size: $font-size__sm;
                }
            }
        }
    }

    &__main {
        grid-area: main;
        border: 3px solid #333;
        border-radius: 10px;
        background-color: $sub-color__secondary;
        min-height: 300px;
        padding: 20px;
        display: grid;
        grid-template:
            "..... ..... ....." 100px
            "..... setA  ....."
            "..... ..... ....." 100px
            "..... setB  ....."
            "..... ..... ....." 100px
            / auto 100% auto;

        @include mq() {
            border: 1px solid #333;
            border-radius: unset;
            padding: 5px;
            grid-template:
                "..... ..... ....." 50px
                "..... setA  ....."
                "..... ..... ....." 50px
                "..... setB  ....."
                / auto 100% auto;
        }

        &--setA {
            grid-area: setA;
        }

        &--setB {
            grid-area: setB;
        }

        &__stick--unit {
            grid-area: main;
            border: 3px solid #333;
            border-radius: 10px;
            background: $sub-color__secondary;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;

            @include mq() {
                border: 1px solid #333;
                border-radius: 0;
                padding: 10px;
            }
        }
    }
}
// -------------------------
// profile
// -------------------------
.l_profile {
    &__container {
        display: grid;
        height: 100%;
        width: 60%;
        margin: 10vh auto;
        border: 3px solid #333;
        border-radius: 10px;
        background: $sub-color__secondary;
        grid-template:
            " head  " 160px
            " main  " 1fr
            " foot  " 80px
            " return " 80px
            / 100%;

        @include mq() {
            width: 100%;
            margin: 10vh 0;
            border: none;
            border-radius: 0;
        }
    }

    &__store_form__container {
        display: grid;
        margin: 5vh 15%;
        grid-template:
            "name   " 100px
            ".....  " 30px
            "b_name " 100px
            ".....  " 30px
            "email  " 50px
            ".....  " 30px
            "address" 100px
            ".....  " 30px
            "pass   " 50px
            /100%;
    }

    &__user_form__container {
        display: grid;
        margin: 5vh 15%;
        grid-template:
            "name   " 50px
            ".....  " 30px
            "email  " 50px
            ".....  " 30px
            "address" 100px
            ".....  " 30px
            "pass   " 50px
            /100%;
    }

    &__form--unit {
        display: grid;
        grid-template:
            "text form" 100%
            / 40% 60%;

        @include mq() {
            grid-template:
                "text" 1fr
                "form" 1fr
                / 100%;
        }
    }

    &--title {
        grid-area: head;
    }

    &--main {
        grid-area: main;
    }

    &--foot {
        grid-area: foot;
    }

    &--return {
        grid-area: return;
    }

    &--name {
        grid-area: name;
    }

    &--b_name {
        grid-area: b_name;
    }

    &--email {
        grid-area: email;
    }

    &--address {
        grid-area: address;
    }

    &--pass {
        grid-area: pass;
    }

    &--text {
        grid-area: text;
    }

    &--form {
        grid-area: form;
    }
}
// -------------------------
// Detail
// -------------------------
.l_detail {
    &__container {
        display: grid;
        border-radius: 10px;
        margin: 10vh 60px;
        grid-template:
            " main  "
            " info  " 1fr
            / 100%;

        @include mq() {
            margin: 10vh 0;
        }
    }

    &--main {
        grid-area: main;
        display: grid;
        grid-template:
            "hero info" 100%
            / 60% 40%;
        position: relative;

        @include mq() {
            grid-template:
                "hero" 300px
                "info" 500px
                / 100%;
        }

        &--attention {
            position: absolute;
            top: 45%;
            left: 6%;
            width: 48%;
            height: 70px;
            line-height: 70px;
            background: #ffffff;
            color: #f44336;
            text-align: center;

            @include mq() {
                top: 15%;
                left: 0%;
                width: 100%;
                height: 60px;
                line-height: 60px;
            }
        }

        &--hero {
            grid-area: hero;
            border-radius: 10px;

            @include mq() {
                border-radius: 0;
            }
        }

        &--info {
            grid-area: info;
            display: grid;
            grid-template:
                "head" 1fr
                "info" 2fr
                "foot" 1fr
                /100%;

            @include mq() {
                grid-template:
                    "head" 100px
                    "info" 2fr
                    "foot" 1fr
                    /100%;
            }

            &--head {
                grid-area: head;
                display: grid;
                grid-template:
                    "left center right" 100%
                    / 33% 34% 33%;
            }

            &--left {
                grid-area: left;
            }

            &--center {
                grid-area: center;
            }

            &--right {
                grid-area: right;
            }

            &--info {
                grid-area: info;
            }

            &--foot {
                grid-area: foot;
                margin-right: 40px;
                display: grid;
                grid-template:
                    "btn component" 1fr
                    ".... ...." 1fr
                    ".... ...." 1fr
                    / 50% 50%;

                @include mq() {
                    margin-right: 0;
                    grid-template:
                        ".... ...." 1fr
                        "btn component" 1fr
                        ".... ...." 1fr
                        / 50% 50%;
                }
            }

            &--btn {
                grid-area: btn;
            }

            &--component {
                grid-area: component;
            }
        }

        &--info__container {
            display: grid;
            grid-template:
                "title    title  " 20%
                ".......  ......." 30px
                "category expiration" 20%
                ".......  ......." 15px
                "price-l  price-r" 40%
                ".......  ......." 20px
                / 40% 60%;

            @include mq() {
                grid-template:
                    "title      title" 20%
                    ".......    ......." 20px
                    "category   ......." 20%
                    "expiration ......." 20%
                    "price-l    price-r" 40%
                    ".......    ......." 30px
                    / 40% 60%;
            }

            &--title {
                grid-area: title;
            }

            &--category {
                grid-area: category;
            }

            &--expiration {
                grid-area: expiration;
            }

            &--price-l {
                grid-area: price-l;
            }

            &--price-r {
                grid-area: price-r;
            }
        }
    }

    &--info {
        grid-area: info;
        display: grid;
        grid-template:
            "head   .....  .....  ....." 50px
            ".....  .....  .....  ....." 15px
            "textA  dataA  textE  dataE" 50px
            "textB  dataB  textF  dataF" 50px
            "textC  dataC  textG  dataG" 50px
            "textD  dataD  textH  dataH" 50px
            /10% 40% 10% 40%;

        @include mq() {
            padding: 8px;
            grid-template:
                "head   ....." 50px
                ".....  ....." 15px
                "textA  dataA" 50px
                "textB  dataB" 50px
                "textC  dataC" 50px
                "textD  dataD" 50px
                "textH  dataH" 50px
                "textE  dataE" 50px
                "textF  dataF" 50px
                "textG  dataG" 50px
                /30% 70%;
        }

        &--head {
            grid-area: head;
        }

        &--textA {
            grid-area: textA;
        }

        &--dataA {
            grid-area: dataA;
        }

        &--textB {
            grid-area: textB;
        }

        &--dataB {
            grid-area: dataB;
        }

        &--textC {
            grid-area: textC;
        }

        &--dataC {
            grid-area: dataC;
        }

        &--textD {
            grid-area: textD;
        }

        &--dataD {
            grid-area: dataD;
        }

        &--textE {
            grid-area: textE;
        }

        &--dataE {
            grid-area: dataE;
        }

        &--textF {
            grid-area: textF;
        }

        &--dataF {
            grid-area: dataF;
        }

        &--textG {
            grid-area: textG;
        }

        &--dataG {
            grid-area: dataG;
        }

        &--textH {
            grid-area: textH;
        }

        &--dataH {
            grid-area: dataH;
        }
    }

    &--hero {
        grid-area: hero;
    }
}
// -------------------------
// product 関連
// -------------------------
.l_product {
    &__stick-unit {
        display: grid;
        border: 2px solid #999;
        border-radius: 50px;
        background: $sub-color__secondary;
        grid-template:
            "pic   name  icon " 70px
            /70px 1fr 70px;
        width: 100%;

        @include mq() {
            grid-template:
                "pic   name  icon " 50px
                /50px 1fr 50px;
        }
    }

    &--pic {
        grid-area: pic;
        width: 100%;
        background: #f6f5f4;
    }

    &--name {
        grid-area: name;
    }

    &--icon {
        grid-area: icon;
    }

    &__card {
        &-unit {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: row;

            &__index {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;

                & div:nth-child(4n) {
                    margin-right: -104px;

                    @include mq() {
                        margin-right: 0;
                    }
                }
                @include mq() {
                    padding: 25px;

                    & div:nth-child(3n) {
                        margin-right: -25px;
                    }
                }
            }
        }

        &__container {
            width: 241px;
            height: 350px;
            border: 3px solid #333;
            border-radius: 5px;
            position: relative;
            margin-right: 104px;
            margin-bottom: 100px;

            @include mq() {
                width: 90px;
                height: 130px;
                border: 1px solid #333;
                margin-right: 25px;
                margin-bottom: 50px;
            }
        }

        &__label {
            position: absolute;
            top: -20px;
            right: -20px;
            border: 3px solid #333;
            border-radius: 50%;
            background: #ec6617;
            z-index: 5;
            width: 70px;
            height: 70px;
            line-height: 65px;
            text-align: center;
            transform: rotateZ(45deg);

            @include mq() {
                top: -15px;
                right: -15px;
                border: 1px solid #333;
                width: 40px;
                height: 40px;
                line-height: 35px;
            }
        }
    }

    &__miniCard {
        &__container {
            display: grid;
            grid-template:
                "....." 35%
                "title" 30%
                "....." 35%
                / 100%;
            position: relative;
            border: 4px solid #f6f5f4;
            width: 200px;
            height: 200px;
            margin-right: 75px;

            @include mq() {
                grid-template:
                    "....." 25%
                    "title" 50%
                    "....." 25%
                    / 100%;
                border: 1px solid #f6f5f4;
                width: 100px;
                height: 80px;
                margin-right: 5px;
            }
        }

        &--image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            height: 100px;
        }

        &--title {
            grid-area: title;
            z-index: 2;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            font-size: 20px;
            font-weight: bold;

            @include mq() {
                font-size: 14px;
            }
        }
    }
}
// -------------------------
// paginate
// -------------------------
.l_pagination__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
// -------------------------
// index
// -------------------------
.l_index {
    &__container {
        display: grid;
        margin: 0 80px;
        grid-template:
            "head" 200px
            "main" 1fr
            "paginate" 200px
            / 100%;

        @include mq() {
            margin: 0;
            grid-template:
                "head" 200px
                "main" 1fr
                "paginate" 100px
                / 100%;
        }
    }

    &__head {
        grid-area: head;
        display: grid;
        grid-template:
            "..... ..... ....." 1fr
            "..... title ....." 1fr
            "..... ..... sort " 1fr
            "..... ..... ....." 30px
            / 33% 34% 33%;
        position: relative;
        width: 100%;

        &--title {
            grid-area: title;
        }

        &--sort {
            grid-area: sort;
        }
    }

    &__main {
        grid-area: main;
    }

    &__paginate {
        grid-area: paginate;
        width: 100%;
    }
}
// -------------------------
// reminder
// -------------------------

.l_reminder {
    &__container {
        display: grid;
        grid-template:
            "...." 70px
            "title" 100px
            "main"
            / 100%;
        height: 100%;
        width: 60%;
        margin: 10vh auto;
        border: 3px solid #333;
        border-radius: 10px;
        background: $sub-color__secondary;
        font-size: 20px;

        @include mq() {
            border: 1px solid #333;
            border-radius: 0;
            width: 100%;
            font-size: 16px;
        }
    }

    &--title {
        grid-area: title;
    }

    &--main {
        grid-area: main;
        display: grid;
        grid-template:
            "textA"
            "textB"
            "textC"
            "submit";
        padding: 40px;

        &--textA {
            grid-area: textA;
        }

        &--textB {
            grid-area: textB;
        }

        &--textC {
            grid-area: textC;
        }

        &--submit {
            grid-area: submit;
            margin-top: 70px;
            margin-bottom: 70px;
        }
    }
}

// -------------------------
// passreset
// -------------------------

.l_passreset {
    &__container {
        display: grid;
        grid-template:
            "...." 70px
            "title" 100px
            "main"
            / 100%;
        height: 100%;
        width: 60%;
        margin: 10vh auto;
        border: 3px solid #333;
        border-radius: 10px;
        background: $sub-color__secondary;
        font-size: 20px;

        @include mq() {
            width: 100%;
            border: 1px solid #333;
            border-radius: 0;
        }
    }

    &--title {
        grid-area: title;
    }

    &--main {
        grid-area: main;
        display: grid;
        grid-template:
            "textA formA"
            "....  .... " 40px
            "textB formB"
            "....  .... " 40px
            "textC formC"
            "....  .... " 40px
            "submit submit" 100px
            /30% 70%;
        padding: 40px;

        @include mq() {
            grid-template:
                "textA"
                "formA"
                "...." 40px
                "textB"
                "formB"
                "...." 40px
                "textC"
                "formC"
                "...." 40px
                "submit" 100px
                /100%;
        }

        &--textA {
            grid-area: textA;
        }

        &--formA {
            grid-area: formA;
        }

        &--textB {
            grid-area: textB;
        }

        &--formB {
            grid-area: formB;
        }

        &--textC {
            grid-area: textC;
        }

        &--formC {
            grid-area: formC;
        }

        &--submit {
            grid-area: submit;
            margin-top: 70px;
            margin-bottom: 70px;
        }
    }
}
