// -------------------------------
// 個別のプロジェクト
// -------------------------------
//footerのimgとspanのセット
.u_img__unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
