// -------------------------------
// 配置位置
// -------------------------------
.u_display {
    //上下左右センター配置
    &--center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        //上下左右センター配置 隅配置 縦列
        &--column {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            flex-direction: column;
        }
    }
    //上下左右センター配置 haight削除 両端スペース
    &--center-noh {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        @include mq() {
            justify-content: flex-start;
        }
    }

    //上下センター 文字列flex-start
    &--Jstart {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;

        &--wrap {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
        }

        &--Astart {
            align-items: flex-start;
        }

        &--column {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            height: 100%;
            flex-direction: column;
        }
    }

    &--Jstart--info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    //上下センター 文字列flex-end
    &--end {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;

        &--column {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            flex-direction: column;
        }

        &--Astart {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            flex-direction: row;
        }
    }
}
.u_ds--block {
    display: inline-block;
}
// -------------------------------
// 文字間隔
// -------------------------------
.u_text--space {
    letter-spacing: 1.3px;
}

// -------------------------------
// 親要素 引継ぎ
// -------------------------------
.u_parent--100 {
    width: 100%;
    height: 100%;
    display: block;
}
// -------------------------------
// ディスプレイ none
// -------------------------------
.u_display-n {
    display: none;
}

.opacity-0 {
    opacity: 0;
}
// -------------------------------
// 背景色
// -------------------------------
.bg-gray {
    background-color: #eee;
    border-radius: 10px;
}
// -------------------------------
// テキスト align-center
// -------------------------------
.u_text--align {
    text-align: center;
}
.u_text--align-r {
    text-align: right;
}
// -------------------------------
// テキスト はみ出し防止
// -------------------------------
.u_text--gurad {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 5px;
}

// ------------------------------
// レスポンシブ対応
// ------------------------------
.display-pc {
    display: block;

    @include mq(sm) {
    display: none;
    }
}

.display-sm {
    display: none;

    @include mq(sm) {
        display: block;
    }

}

// -------------------------------
// javascript animetion
// -------------------------------
.u_display-show {
    display: show;
    animation-name: fadeIn;
}

.u_display-hide {
    display: none;
    animation-name: fadeOut;
}

// animation

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: rotateY(-50px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
