// -----------------------------
// サイト内文字サイズ
// -----------------------------
.u_site {
    &--title {
        font-size: $font-size__xl;
        color: $font-color__main;

        &--bold {
            font-weight: bold;
        }
    }
}
//デフォルトのフォントサイズ 16px
// ---------------------------
.u_font {
    &__default {
        font-size: $font-size__default;
    }

    &__text {
        &--title {
            font-size: $font-size__xl;
        }

        &--price {
            font-size: $font-size__xl;

            @include mq() {
                font-size: 14px;
            }

            &::after {
                margin-left: 30px;
                @include arrow(15, 3, #333, right);

                @include mq() {
                    margin-left: 20px;
                    @include arrow(10, 2, #333, right);
                }
            }

            &--lage {
                font-size: $font-size__xxl;

                @include mq() {
                    font-size: $font-size__xl;
                }
            }
        }

        &--expiration {
            font-size: $font-size__default;
            color: #333;
            font-weight: bold;

            @include mq() {
                font-size: 12px;
            }
        }
    }
    &__lage {
        &--text {
            font-size: $font-size__xxl;

            @include mq() {
                font-size: $font-size__xl;
            }
        }

        &--blue {
            font-weight: bold;
            color: #9844ec;
            letter-spacing: 2px;
        }

        &--red {
            font-weight: bold;
            color: #fb0503;
            letter-spacing: 2px;
        }
    }

    &__Xlage--text {
        font-size: $font-size__3l;

        &--attention {
            font-weight: bold;
            font-size: 50px;
            letter-spacing: 10px;

            @include mq() {
                font-size: 35px;
            }
        }
    }
}

// -----------------------------
// アイコン サイズ
// -----------------------------
.u_size__icon {
    &--sm {
        width: 20px;
        height: 20px;
    }

    &--md {
        width: 190px;
        height: 200px;
    }
}

.u_size__icon--radius {
    border-radius: 50%;
    border: 2px solid #666;
}

.u_size__icon {
    &--card {
        color: #fff;
        font-size: $font-size__xl;
        text-align: center;

        @include mq() {
            font-size: $font-size__default;
        }
    }

    &--label {
        color: #f6f5f4;
        font-size: $font-size__default;
        letter-spacing: 2px;

        @include mq() {
            font-size: 10px;
        }

        &--text {
            font-size: $font-size__default;
            @include mq() {
                font-size: $font-size__root;
            }
        }
    }
}
// -----------------------------
// img サイズ
// -----------------------------
.u_img__fit--cover100 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.u_img__fit--cover-detail {
    object-fit: cover;
    width: 80%;
    height: 400px;

    @include mq() {
        width: 100%;
        height: 100%;
    }
}
