// -----------------------------
// サイト内文字サイズ
// -----------------------------
.u_site {
    &--title {
        font-size: $font-size__xl;
        font-weight: bold;
        color: #d16c15;
    }
}
//デフォルトのフォントサイズ 16px
// ---------------------------
.u_font {
    &__default {
        font-size: $font-size__default;
    }

    &__text {
        &--title {
            font-size: $font-size__xl;
        }
    }
}

// -----------------------------
// アイコン サイズ
// -----------------------------
.u_size__icon {
    &--sm {
        width: 20px;
        height: 20px;
    }

    &--md {
        width: 190px;
        height: 200px;
    }
}
